* {
    margin: 0;
    padding: 0;
}


#titulo {
    font-family: sans-serif;
    color: #d66000;
    margin-left: 7%;
} 


#subtitulo {
    font-family: sans-serif;
    color: #2b2b2e;
    margin: 0em;
   border-radius: 0.2em;
} 

#check{
    display: inline-block;
}


fieldset {
    border: 0;
}


body{
    background-image: url(imagem/fund.png);
    font-family: sans-serif;
    font-size: 1em;
    color: #2b2b2e;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    
}


input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 5px;
}


.grupo:before, .grupo:after {
    display: table;
}


.grupo:after {
    clear: both;
}


.campo {
    margin-bottom: 1em;
}


.campo label {
    margin-bottom: 0.2em;
    color: #2b2b2e;
    display: block;
    border: 1px 1px 1px #000000;
}


fieldset .grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(238, 226, 226, 0.2);
    display: block;
}


.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #ffffff;
}


.botao {
    font-size: 1.2em;
    background:#ff780a;
    border: 0;
    margin-bottom: 0em;
    justify-content:right;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position:absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
    
}


.botao:hover {
    background: #2c2c31;
    box-shadow: inset 2px 2px 2px rgba(250, 250, 250, 0.2);
    text-shadow: none;
}


.botao, select{
    cursor: pointer;
} 